<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home Over WEB</title>
    <style> @import url('/styles/main.css');</style>

</head>
<body>
    <header>
        <h2>Home Over Web - Console</h2>
    </header>
    <main>
        <div id="broker-status" class="info-box">
            <div>Status: <span id="broker"></span> <button id="init-broker">Iniciar</button></div>
        </div>
        <div id="reader-display" class="info-box">
            <h4 class="display-header">Leitura de sensores</h4>
            <div class="sensor">
                <span class="sensor-value">12</span>
            </div>

        </div>
        <button id="mqtt">VALIDATE</button>

    </main>
</body>

<script async src="dist/main.min.js"></script>
<script>
    (function () {
        "use strict";

        document.querySelector("#mqtt").addEventListener("click", function () {
            var r = new XMLHttpRequest();

            r.open("POST", "/publishCommand", true);
            r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            r.onreadystatechange = function () {
                if (r.readyState != 4 || r.status != 200) return;
                alert("Success: " + r.responseText);
            };
            r.send("id=BCM27080000000040aa4cb5&type=raspberry&cmd=status");
        });

    }());
</script>
</html>