<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Daniel Abrão">
    <meta name="description" content="Hackathon Project">
    <title>Hackathon Matera</title>
    <link rel="stylesheet" href="../styles/login.style.css" media="screen" title="no title">
    <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400');</style>
</head>
<body>
<header>
    <!-- <h1>Login</h1> -->
</header>
<main>
    <form class="" action="/login" method="post">
        <h1>Home Over Web</h1>
        <span class="fields">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="" id="username">
                    <label for="password">Password</label>
                    <input type="password" name="password" value="" id="password" >
                    <button type="submit" name="button">Entrar</button>
                </span>

    </form>
</main>

</body>
</html>